///fonts///
$font-primary: "Geometria";
$font-secondary:  "monospace";
$font-size: 16px;

///colors///

$background: #080807;
$system: #10100E;
$stroke: #4F4F4F;
$text: #8A9385;
$titles: #F7FFEE;
$accent: #B1FF5C;
$accent-hover: #9AF03C;
$accent-secondary: #42882A;
$errors: #FF3D3D;
$verification: #FFB444;

$not-verified: #8E938C;
$verification-stroke: #242424;
