<form class="form-verification">
	<div class="form-head">
		<h2>верифікація<span class="verification-status verification-status__verification-failed">верифікацію не пройдено</span></h2>
		<div class="form-description">Пройдіть верифікацію особи та отримайте можливість здійснювати обмін фіатних валют та доступ до реферальної програми</div>
	</div>
	<fieldset>
		<h5>країна знаходження</h5>
		<select name="country">
			<option value="country" data-display="країна">країна</option>
			<option value="ua">Україна</option>
			<option value="pl">Польща</option>
			<option value="ch">Чехія</option>
		</select>
		<!-- @@include('dropdown.html') -->
	</fieldset>
	<fieldset>
		<h5>особиста інформація</h5>
		<input type="text" placeholder="ім’я" name="user-info">
		<input type="text" placeholder="прізвище" name="user-info">
		<input type="text" placeholder="по батькові" name="user-info">
		<input type="tel" placeholder="телефон" name="user-info">
		<input type="text" data-calendar placeholder="дата народження">
		<div class="control-container">
			<h6 class="control-container__titles">стать</h6>
			<div class="radio-box">
				<input id="femaly" type="radio" name="gender">
				<label for="femaly">жіноча</label>
			</div>
			<div class="radio-box">
				<input id="male" type="radio" name="gender">
				<label for="male">чоловіча</label>
			</div>
		</div>
	</fieldset>
	<fieldset>
		<h5>адреса проживання</h5>
		<input type="text" placeholder="місто" name="user-info">
		<input type="text" placeholder="вулиця" name="user-info">

		<div class="form-row">
			<input type="text" placeholder="будинок" name="user-info">
			<input type="number" placeholder="квартира" name="user-info">
			<input type="text" placeholder="індекс" name="user-info" data-index>
		</div>
	</fieldset>
	<fieldset>
		<h5>підтвердження особистості</h5>
		<div class="control-container large-radio">
			<h6 class="control-container__titles">тип документу</h6>
			<div class="form-row">
				<div class="radio-box">
					<input id="passport" type="radio" name="docs">
					<label for="passport">паспорт</label>
				</div>
				<div class="radio-box">
					<input id="foreign-passport" type="radio" name="docs">
					<label for="foreign-passport">закордонний паспорт</label>
				</div>
				<div class="radio-box">
					<input id="id-card" type="radio" name="docs">
					<label for="id-card">ID-картка</label>
				</div>
				<div class="radio-box">
					<input id="driver's-license" type="radio" name="docs">
					<label for="driver's-license">посвідчення водія</label>
				</div>
			</div>
		</div>
		<h6 class="control-container__titles">завантажте документ</h6>
		@@include('drop-zone.html')
		<div class="control-container toggle-checkbox">
			<div class="radio-box">
				<input id="validity-period" type="checkbox" name="validity-period">
				<label for="validity-period">немає терміну дії <span>за умови відсутності терміну дії документу</span></label>
			</div>
		</div>
		<input type="text" data-calendar placeholder="термін дії документу" name="user-info">
	</fieldset>
	<button class="form-btn" type="submit">продовжити</button>
</form>
